<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logindo</servlet-name>
        <servlet-class>Logindo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotdo</servlet-name>
        <servlet-class>forgotdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupdo</servlet-name>
        <servlet-class>signupdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>padddo</servlet-name>
        <servlet-class>padddo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delprojdo</servlet-name>
        <servlet-class>delprojdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updtdo</servlet-name>
        <servlet-class>updtdo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filedo</servlet-name>
        <servlet-class>filedo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logindo</servlet-name>
        <url-pattern>/Logindo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotdo</servlet-name>
        <url-pattern>/forgotdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupdo</servlet-name>
        <url-pattern>/signupdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>padddo</servlet-name>
        <url-pattern>/padddo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delprojdo</servlet-name>
        <url-pattern>/delprojdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updtdo</servlet-name>
        <url-pattern>/updtdo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filedo</servlet-name>
        <url-pattern>/filedo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
